<div class="page">
  <section class="hero pd">
    <h1 class="title">{{ 'CLUB.FEATURED_NEWS' | translate }}</h1>
  </section>
  <app-column-slider
    *ngIf="newsList.length > 0"
    [newsList]="newsList"
    [allNews]="true"
  ></app-column-slider>
  <section class="newsletter pd">
    <div class="newsletter__container">
      <div class="newsletter__info">
        <p class="title">{{ 'CONTACT.TITLE' | translate }}</p>
        <p class="txt">
          {{ 'CLUB.BE_PART' | translate }}
        </p>
        <a [routerLink]="['/contacto']">
          <button class="primary-btn ripple-btn"><p>{{ 'CLUB.WRITE_US' | translate }}</p></button>
        </a>
      </div>
      <div class="newsletter__img">
        <img
          class="headless notMobile"
          src="../../assets/home/headless-members.webp"
          alt=""
        />
        <span class="logo-bh notMobile">
          <img src="../../assets/home/logo-bh.png" alt=""/>
       </span>
      </div>
    </div>
  </section>
</div>
