.matches__hero {
    display: flex;
    flex-flow: column;
    max-width: 1440px;
    height: 100%;
    margin-inline: auto;
    padding-inline: 8%;
    padding-top: 10rem;
    justify-content: space-around;
}

h1 {
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
}

button.btn-arrow {
    width: 5rem;
    height: 5rem;
    place-self: center;

}

//     .tabs-wrapper {
//         padding-top: 10rem;
//         border-bottom: 1px solid rgb(126, 45, 249,0.5);
//         margin-bottom: 4rem;
//     }

//     .tabs {
//         position: relative;
//         display: flex;
        
//         p {
//             width: 100%;
//             padding-block: 0.8rem;
//             text-align: center;
//             cursor: pointer;
//         }

//         hr {
//             position: absolute;
//             width: 50%;
//             left: 0;
//             bottom: 0;
//             height: 0.3rem;
//             transform: translateY(50%);
//             background-color: var(--9z-primary);
//             box-shadow: 0px 0px 4px rgba(160, 60, 252, 0.8);
//             transition: margin 350ms ease-out;

//             &.active {
//                 margin-left: 50%;
//             }
//         }
//     }

//     .match {
//         position: relative;
//         margin-block: 6.4rem;
//         background: rgba(126, 45, 249, 0.05);
//         border: 1px solid;
//         border-image: linear-gradient(90deg, rgba(250,204,165,0.7) 0%, rgba(126,45,249,0.7)) 1 / 1 / 0 stretch;
//         box-shadow: 0px 0px 20px rgba(209, 209, 209, 0.1);

// /*         &::after {
//             content: '';
//             z-index: -1;
//             position: absolute;
//             inset: -1px;
//             transform: skew(-15deg);
//             background: transparent;
//             border: 1px solid;
//             border-image: linear-gradient(90deg, rgba(250,204,165,1) 0%, rgba(126,45,249,1)) 1 / 1 / 0 stretch;
//             box-shadow: 0px 0px 20px rgba(209, 209, 209, 0.1);
            
//         } */

//         .match__date {
//             display: flex;
//             justify-content: space-between;
//             padding: 1.6rem 2.2rem;
//             border: 1px solid;
//             border-image: linear-gradient(90deg, rgba(250,204,165,0.7) 0%, rgba(126,45,249,0.7)) 1 / 1 / 0 stretch;

//             p {
//                 font-size: 1.4rem;
//             }
//         }

//         .match__info {
//             display: flex;
//             justify-content: space-between;
//             place-items: center;
//             padding: 1.6rem 2.2rem;
//         }

//         .match__teams {
//             display: flex;
//             flex-flow: column;
//             justify-content: space-between;
//             place-items: center;
//             justify-content: center;
//             gap: 3.2rem;

//             @media (min-width: 1023px) {
//                 flex-flow: row;
//             }

//             img {
//                 mix-blend-mode: luminosity;
//                 width: 5rem;
//             }

//             span {
//                 display: flex;
//                 place-items: center;
//                 gap: 2.5rem;
//                 font-size: 2.4rem;
//                 color: var(--9z-primary);
//                 text-shadow: 0px 0px 10px var(--9z-primary);
//             }
//         }

//         a {
//             color: var(--9z-primary);
//             text-decoration: underline;

//             svg {
//                 margin-left: 1rem;
//                 stroke: var(--9z-primary);
//             }
//         }
//     }