<div class="page new" *ngIf="new !== '' && new !== 'null'">
  <section class="post">
    <div class="post__head">
      <p class="head bold">{{ new.date }}</p>
      <svg *ngIf="new.category"
        width="3"
        height="3"
        viewBox="0 0 3 3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="3" height="3" fill="#A03CFC" />
      </svg>
      <p *ngIf="new.category" class="head bold">
        {{ new.category?.toUpperCase() }}
      </p>
    </div>
    <div class="post__tittle">
      <h1 class="bold">{{ new.title }}</h1>
      <svg
        width="76"
        height="2"
        viewBox="0 0 76 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 1L76 1.00001" stroke="#7E2DF9" stroke-width="2" />
      </svg>
    </div>
    <div class="post__img pd">
      <img [src]="new.coverImageUrl" alt="" class="notMobile" />
    </div>
    <div class="post__info pd">
      <div class="info-wrapper">
        <div
          [innerHtml]="new.newContent ? new.newContent : new.newResume"
          class="post__info__container"
        >
        </div>
        <div class="share">
          <p class="share-post bold">Compartir el post</p>
          <share-buttons
            [theme]="'circles-light'"
            [include]="[
              'facebook',
              'twitter',
              'telegram',
              'messenger',
              'whatsapp',
              'copy'
            ]"
            [show]="6"
            [url]="url"
            [autoSetMeta]="false"
          ></share-buttons>
        </div>
     </div>
      <div class="right__column">
        <div class="sponsor">
          <p class="sponsor__head title">{{ category1 }}</p>
          <div class="sponsor__container" *ngFor="let new of category1NewsList | slice:0:4">
            <div class="sponsor__info">
              <p class="date bold">{{ new.date }}</p>
              <p class="sponsor_text bold">{{ new.title }}</p>
              <a
                [routerLink]="['/noticia/' + new.slug]"
                (click)="refreshNew()"
                class="read-more"
                ><span>Leer más</span>
                <svg
                  width="16"
                  height="8"
                  viewBox="0 0 16 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.3536 4.35355C15.5488 4.15829 15.5488 3.84171 15.3536 3.64645L12.1716 0.464467C11.9763 0.269205 11.6597 0.269205 11.4645 0.464467C11.2692 0.659729 11.2692 0.976312 11.4645 1.17157L14.2929 4L11.4645 6.82843C11.2692 7.02369 11.2692 7.34027 11.4645 7.53553C11.6597 7.7308 11.9763 7.7308 12.1716 7.53553L15.3536 4.35355ZM-4.37114e-08 4.5L15 4.5L15 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z"
                    fill="#6701E1"
                  />
                </svg>
              </a>
            </div>
            <img [src]="new.coverImageUrl" alt="" />
          </div>
        </div>
      </div>
    </div>
    <section class="share notMobile pd">

    </section>
  </section>
</div>
