<div class="content">
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
            <mat-select class="select" placeholder="Seleccionar Disciplina/s" [(value)]="selectDisciplines" multiple>
                <mat-option *ngFor="let option of disciplinesOptions" [value]="option" (click)="onSelect(matOption)" #matOption>
                  {{ option }}
                </mat-option>
            </mat-select>
            <div style="margin:1rem auto; max-width: 600px; padding: 1rem;" ></div>
            <mat-select class="select" placeholder="Seleccionar Equipo/s" [(value)]="selectTeams" multiple>
              <mat-option *ngFor="let option of teamsOptions" [value]="option" (click)="onSelect(matOption)" #matOption>
                {{ option }}
              </mat-option>
            </mat-select>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-button (click)="confirmar()" cdkFocusInitial>Confirmar</button>
    </div>
</div>