<div class="page">
  <section class="hero">
    <div class="hero__container">
      <h1 class="title">{{ 'ABOUT.ABOUT' | translate }}</h1>
    </div>
  </section>

  <section class="full_img_right pd">
    <div></div>
    <div class="right__info pd">
      <div class="line_head">
        <svg width="100" height="2" viewBox="0 0 100 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M99.5 1H0" stroke="#767378" />
        </svg>
      </div>
      <p class="community__head bold">{{ 'ABOUT.WHO_ARE_WE' | translate }}</p>
      <p class="community__txt">
        {{ 'ABOUT.WHO_ARE_WE_DESC' | translate }}
      </p>
    </div>
  </section>
  <section class="full_img_left pd">
    <div class="left__info pd">
      <div class="line_head">
        <svg width="100" height="2" viewBox="0 0 100 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M99.5 1H0" stroke="#767378" />
        </svg>
      </div>
      <p class="community__head bold">{{ 'ABOUT.WHERE_WE_COME_FROM' | translate }}</p>
      <p class="community__txt">
        {{ 'ABOUT.WHERE_WE_COME_FROM_DESC' | translate }}
      </p>
    </div>
    <div></div>
  </section>
  <section class="full_img_right-2 pd">
    <div></div>
    <div class="right__info pd">
      <div class="line_head">
        <svg width="100" height="2" viewBox="0 0 100 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M99.5 1H0" stroke="#767378" />
        </svg>
      </div>
      <p class="community__head bold">{{ 'ABOUT.WHERE_ARE_WE' | translate }}</p>
      <p class="community__txt">
        {{ 'ABOUT.WHERE_ARE_WE_DESC' | translate }}
      </p>
    </div>
  </section>
  <section class="full_img_left-2 pd">
    <div class="left__info pd">
      <div class="line_head">
        <svg width="100" height="2" viewBox="0 0 100 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M99.5 1H0" stroke="#767378" />
        </svg>
      </div>
      <p class="community__head bold">{{ 'ABOUT.WHERE_ARE_WE_GOING' | translate }}</p>
      <p class="community__txt">
        {{ 'ABOUT.WHERE_ARE_WE_GOING_DESC' | translate }}
      </p>
    </div>
    <div></div>
  </section>
</div>