<section class="matches pd">
  <div class="title-row" *ngIf="!standalone">
    <h2 class="title">Partidas</h2>
    <button
    [routerLink]="['/partidos']"
    [queryParams]="{team: team}"
  >
    Ver más
  </button>
  </div>

  <div class="title-row">
    <button (click)="openModal()">Filtrar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 10"> <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/> </svg></button>
  </div>

  <div class="tabs-wrapper">
    <div class="tabs">
      <button
        [disabled]="upcomingMatchesList.length === 0"
        (click)="changeTab('upcoming')"
        [ngClass]="{ active: tabActive === 'upcoming' }"
      >
        <p>Próximas</p>
      </button>
      <button
        (click)="changeTab('past')"
        [ngClass]="{ active: tabActive === 'past' }"
      >
        <p>Resultados pasados</p>
      </button>
      <hr [ngClass]="{ active: tabActive === 'past' }" />
    </div>
  </div>

  <div
    *ngIf="tabActive === 'upcoming'"
    class="matches-wrapper"
    [@listAnimation]="upcomingMatchesList"
  >
    <div class="match" *ngFor="let match of upcomingMatchesList">
      <div class="match__date">
        <p class="bold">
          {{ match.date }} / <span class="bold">{{ match.time }} HS ARG </span>
        </p>
        <p class="bold">{{ match.tournament }}</p>
      </div>
      <div class="match__info">
        <img
          class="game__logo"
          *ngIf="match.game?.logo"
          [src]="match.game.logo"
          [alt]="match.game.name"
          [title]="match.game.name"
        />
        <div class="match__teams">
          <span class="title">
            <span
              class="notMobile"
              [ngStyle]="{
                color:
                  match.result1 > match.result2 ? 'var(--9z-font)' : 'rgba(255,255,255,1)'
              }"
            >
              <p class="title bold">{{ match.team1.name }}</p>
            </span>
            <img
              [ngStyle]="{
                opacity: match.result1 > match.result2 ? '1' : '1'
              }"
              *ngIf="match?.team1.logo"
              [src]="match.team1.logo"
              [alt]=" match.team1.name"
              [title]=" match.team1.name"
            />
          </span>
          <p class="title notMobile">VS</p>
          <span  class="title">
            <span
              class="notMobile"
              [ngStyle]="{
                color:
                  match.result2 > match.result1 ? 'var(--9z-font)' : 'rgba(255,255,255,1)'
              }"
            >
              <p class="title bold">{{ match.team2.name}}</p>
            </span>
            <img
              [ngStyle]="{
                opacity: match.result2 > match.result1 ? '1' : '1'
              }"
              *ngIf="match?.team2.logo"
              [src]="match.team2.logo"
              [alt]="match.team2.name"
              [title]="match.team2.name"
            />
          </span>
        </div>
        <button
        aria-label="Ver transmisión"
        [routerLink]="['/match']"
        [queryParams]="{match: match}"
      >
        Ver
      </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="tabActive === 'past'"
    class="matches-wrapper"
    [@listAnimation]="pastMatchesList"
  >
    <div class="match" *ngFor="let match of pastMatchesList">
      <div class="match__date">
        <p class="bold">
          {{ match.date }} / <span class="bold">{{ match.time }} HS ARG </span>
        </p>
        <p class="bold">{{ match.tournament }}</p>
      </div>
      <div *ngIf="match.game.name === 'Fortnite'" class="match__info">
        <img
          class="game__logo"
          *ngIf="match?.game.logo"
          [src]=" match.game.logo"
          [alt]=" match.game.name"
          [title]=" match.game.name"
        />
        <div class="match__teams">
          <span class="title">
            <img
              src="../../../assets/svg/logo9z.png"
              alt="9Z Team"
              title="9Z Team"
            />
            {{ match.teamMember?.slug }}
          </span>
          <span
            class="notMobile"
            style="
              font-size: 5rem;
              line-height: 6rem;
              color: #7e2df9;
              text-shadow: 0px 0px 11px #6701e1;
            "
          >
            -
          </span>
          <span class="title">
            {{ match.position }}
          </span>
        </div>
      </div>
      <div *ngIf="match.game.name !== 'Fortnite'" class="match__info">
        <img
          class="game__logo"
          *ngIf="match?.game.logo"
          [src]="match.game.logo"
          [alt]="match.game.name "
          [title]="match.game.name"
        />
        <div class="match__teams">
          <span
            class="title"
            [ngStyle]="{
              color:
                match.result1 > match.result2 ? 'var(--9z-font)' : 'rgba(255,255,255,1)'
            }"
          >
            <img
              [ngStyle]="{
                opacity: match.result1 > match.result2 ? '1' : '1'
              }"
              *ngIf="match.team1 !== null && match.team1.logo !== null"
              [src]="match.team1.logo"
              [alt]="match.team1.name"
              [title]="match.team1.name"
            />
            <span
              class="notMobile"
              [ngStyle]="{
                color:
                  match.result1 > match.result2 ? 'var(--9z-font)' : 'rgba(255,255,255,1)'
              }"
            >
              <p class="title bold">{{ match.team1.name }}</p>
            </span>
            {{ match.result1 }}
          </span>
          <span
            class="notMobile"
            style="
              font-size: 5rem;
              line-height: 6rem;
              color: #7e2df9;
              text-shadow: 0px 0px 11px #6701e1;
            "
          >
            -</span
          >
          <span
            class="title"
            [ngStyle]="{
              color:
                match.result2 > match.result1 ? 'var(--9z-font)' : 'rgba(255,255,255,1)'
            }"
          >
            {{ match.result2 }}
            <img
              [ngStyle]="{
                opacity: match.result2 > match.result1 ? '1' : '1'
              }"
              *ngIf="match?.team2.logo"
              [src]="match.team2.logo"
              [alt]="match.team2.name"
              [title]="match.team2.name"
            />
            <span
              class="notMobile"
              [ngStyle]="{
                color:
                  match.result2 > match.result1 ? 'var(--9z-font)' : 'rgba(255,255,255,1)'
              }"
            >
              <p class="title bold">{{ match.team2.name }}</p>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
