<section class="pd column-slider">
  <div *ngIf="!allNews" class="title-row">
    <h2 class="title">{{ title }}</h2>
    <button
      [routerLink]="['/all-news']"
      [queryParams]="{ category: title }"
    >
      Ver más
    </button>
    <!-- <a
      [routerLink]="['/all-news']"
      [queryParams]="{ category: title }"
    >
    Ver todo
    </a> -->
  </div>

  <div class="swiper-container">
    <swiper [config]="config">
      <ng-template swiperSlide *ngFor="let new of newsList">
        <div class="new" [ngClass]="{ margin: allNews }">
          <img [src]="new.coverImageUrl" alt="Portada de la noticia" />
          <div class="new__info">
            <p class="new__title bold">{{ new.title }}</p>
            <div class="new__text" [innerHTML]="new.newSubheader"></div>
            <button
            aria-label="Ir a la noticia"
            [routerLink]="[player ? '../../noticia/' + new.slug : '../noticia/' + new.slug]"
            >
              Leer mas
            </button>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
