<div *ngIf="player !== null" class="page">
  <section class="profile-mobile pd">
    <div class="profile__card">
      <div class="profile__title">
        <p class="profile__name">{{player.name | uppercase}}</p>
        <p  class="profile__nick title">{{player.slug | uppercase}}</p>
      </div>
      <div class="profile__img" >
        <img [src]="player.imageUrl ? player.imageUrl : '../../assets/player/1.png'" alt="Ilustración de {{player.slug}} ">
      </div>
    </div>
    <div class="profile__bio">
      <div class="columns">
        <div>
          <div >
            <p class="label">EDAD</p>
            <p *ngIf="player.age" class="data">{{player.age}} AÑOS</p>
          </div>
          <div *ngIf="player.role">
            <p class="label">ROL</p>
            <p class="data">{{player.role}}</p>
          </div>
          <div *ngIf="player.game?.logo">
            <p class="label">TEAM</p>
            <img class="game-logo" [src]="player.game.logo" [alt]="player.game">
          </div>
        </div>
        <div>
          <div *ngIf="player.nationality">
            <p class="label">NACIONALIDAD</p>
            <p class="data">{{player.nationality}}</p>
          </div>
          <div>
            <p class="label">SOCIAL</p>
            <span class="social-row">
              <a *ngIf="player.twitch" target="_blank" [href]="player.twitch"  ><img src="../../assets/player/twitch.png" alt="twitch"></a>
              <a *ngIf="player.instagram" target="_blank" [href]="player.instagram"  ><img src="../../assets/player/ig.png" alt="instagram"></a>
              <a *ngIf="player.twitter"  target="_blank" [href]="player.twitter"  ><img src="../../assets/player/twitter.png" alt="twitter"></a>
            </span>
          </div>
        </div>
      </div>
      <div>
        <p class="label">BIO</p>
        <p class="data" [innerHTML]="player.newDescription"></p>
      </div>
    </div>
  </section>
  <div class="pd profile-wrapper">
    <section class="profile" >
      <div class="profile__title">
        <p class="profile__name" >{{player.name | uppercase}}</p>
        <p id="playerNick" [ngStyle]="{'max-width': player.slug === 'Frankkaster' ? '11ch' : '10ch'}" class="profile__nick title">{{player.slug | uppercase}}</p>
      </div>
      <div class="profile__bio">
        <div class="columns">
          <div>
            <div>
              <p class="label">EDAD</p>
              <p *ngIf="player?.age" class="data">{{player.age}} AÑOS</p>
            </div>
            <div *ngIf="player.role">
              <p class="label">ROL</p>
              <p class="data">{{player.role}}</p>
            </div>
            <div *ngIf="player.game?.logo">
              <p class="label">TEAM</p>
              <img class="game-logo" [src]="player.game.logo" [alt]="player.game">
            </div>
          </div>
          <div>
            <div *ngIf="player.nationality">
              <p class="label">NACIONALIDAD</p>
              <p class="data">{{player.nationality}}</p>
            </div>
            <div>
              <p class="label">SOCIAL</p>
              <span class="social-row">
                <a *ngIf="player.twitch" (click)="openLink(player.twitch)" ><img src="../../assets/player/twitch.png" alt="twitch"></a>
                <a *ngIf="player.instagram" (click)="openLink(player.instagram)"><img src="../../assets/player/ig.png" alt="instagram"></a>
                <a *ngIf="player.twitter" (click)="openLink(player.twitter)"><img src="../../assets/player/twitter.png" alt="twitter"></a>
              </span>
            </div>
          </div>
        </div>
        <div style="padding-bottom: min(6rem, 5vw);">
          <p *ngIf="player.description" class="label">BIO</p>
          <p class="data" style="text-transform: none;" [innerHTML]="player.newDescription"></p>
        </div>
      </div>
      <div class="profile__img" >
        <img [src]="player.imageUrl ? player.imageUrl : '../../assets/player/1.png'" alt="Ilustracion de {{player.slug}}">
      </div>
    </section>
  </div>
  <app-achievements-table *ngIf="achievementsList.length > 0" [quantity]="5" [standalone]="false" [achievementsList]="achievementsList" [team]="team"></app-achievements-table>
  <app-latest-match *ngIf="upcomingMatchList.length > 0 || pastMatchList.length > 0" [matchesToShow]="2" [upcomingMatchesList]="upcomingMatchList" [pastMatchesList]="pastMatchList" [team]="team"></app-latest-match>
  <app-column-slider *ngIf="newsList.length > 0" [title]="'latest news'" [player]="true" [newsList]="newsList"></app-column-slider>
  <app-team-cards *ngIf="listPlayers.length > 0" [title]="'Equipo'" [slides]="listPlayers" [player]="player"></app-team-cards>
</div>
